body {
    background: lightsteelblue no-repeat 0 0;
    margin: 0;
    padding: 100px 0 0 75px;
}
h1 {
    color: black;
    font: 'Poppins', sans-serif;
    font-style: oblique;
    font-weight: bold; 
    font-size: xxx-large;
}
h2 {
    color: #717171;
    font-family: 'Raleway', sans-serif;
}
div {
    font-family: 'Roboto', sans-serif;
    color: #1a1616;
}