body {
    -webkit-text-size-adjust: none;
    background: lightgoldenrodyellow no-repeat center 0;
    padding: 20px 5px 5px 5px;
}
h1 {
    color: black;
    font: 'Poppins', sans-serif;
    font-style: oblique;
    font-weight: bold; 
    font-size: xxx-large;
}
h2 {
    color: #717171;
    font-family: 'Raleway', sans-serif;
}
div {
    font-family: 'Roboto', sans-serif;
    color: #1a1616;
}